spring:
  application:
    name: backend

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: fakenhunters.backend
  type-handlers-package: fakenhunters.backend.global.mybatis
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: NULL
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl