spring:
  application:
    name: backend

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:false}
      path: /h2-console

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: fakehunters.backend
  type-handlers-package: fakehunters.backend.global.mybatis
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: NULL
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl