<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fakehunters.backend.image.mapper.ImageAnalysisResultMapper">

    <insert id="insert"
            parameterType="fakehunters.backend.image.domain.ImageAnalysisResult"
            useGeneratedKeys="true"
            keyProperty="resultId">

        INSERT INTO image_analysis_result (
        result_uuid,
        job_id,
        result_task_type,
        result_label,
        result_confidence,
        result_risk_score,
        result_risk_level,
        result_interpretation,
        result_evidence,
        result_warnings,
        result_json
        ) VALUES (
        #{resultUuid, jdbcType=OTHER},
        #{jobId},
        #{resultTaskType},
        #{resultLabel},
        #{resultConfidence},
        #{resultRiskScore},
        #{resultRiskLevel},
        #{resultInterpretation},
        #{resultEvidence, typeHandler=fakehunters.backend.global.mybatis.JsonNodeTypeHandler},
        #{resultWarnings, typeHandler=fakehunters.backend.global.mybatis.JsonNodeTypeHandler},
        #{resultJson, typeHandler=fakehunters.backend.global.mybatis.JsonNodeTypeHandler}
        )
    </insert>

    <select id="findByJobId"
            parameterType="long"
            resultType="fakehunters.backend.image.domain.ImageAnalysisResult">
        SELECT *
        FROM image_analysis_result
        WHERE job_id = #{jobId}
        ORDER BY created_at ASC
    </select>

</mapper>
